modules = ["nodejs-20", "web", "php-8.2"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3306
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd snipe-it-next && npm run dev -- -p 5000"
waitForPort = 5000

[deployment]
deploymentTarget = "vm"
run = ["bash", "/home/runner/workspace/start.sh"]

[userenv]

[userenv.shared]
NEXTAUTH_SECRET = "b9a17be840ef4104f784c259fdb78f058d562fc41993115eb3a2078a74b6984a"
NEXTAUTH_URL = "https://dd0b9c43-d7af-4451-8115-f838bc2a4b63-00-2zfmv1ojpzior.spock.replit.dev"
